#title {width:36%;}
#status {width:7%;}
#count {width:7%;}
#next, .column-next, .row-actions2 {width:130px;}
#last {width: 26%}

.he20{height:20px;}
.he35{height:35px;}
.mt2{margin-top:2px;}

.inline-edit-col-left {
    width: 40% !important;
}
.inline-edit-col-center {
    width: 20% !important;
}
.inline-edit-col-right {
    width: 39% !important;
    border: 0px !important;
    margin: 0px !important;
}

.inline-edit-col {
    border: 0px !important;
}

.inline-edit-col .inline-edit-group label.alignleft {
    width: 535px;
}

.qedscroll{
    padding-right: 18px !important;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inline-edit-radiosbox {
    float: left;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 0 7px;
    margin-right: 5px;
}

.inline-edit-row fieldset label, .inline-edit-row fieldset span.inline-edit-categories-label {
  margin: .0em 0;
  line-height: 2;
}
.inline-edit-row fieldset label span.title, span.title.inline-edit-categories-label {
  line-height: 2;
  font-weight: bold;
}
.qedscroll #post-formats-select {
line-height: 1em;
width: 110px;
}

.div-wpematico-smart-notification {
    background-color: white;
    padding: 10px;
    padding-top: 0px;
    position: relative;
    border: 1px solid #D9D9D9;
    border-left: 4px solid #0085ba;
    margin-bottom: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    margin: 5px 20px 2px 0px;
    padding: 1px 12px;
    display: block;
}
.description-smart-notification{
    display: block;
}
#smart-notification-title-link {
    text-decoration: none !important;
}
.icon-close-div,.icon-minimize-div{position: absolute; top: 0; right: 0; font-size: 25px; margin-top: -5px; cursor: pointer;}
.div-wpematico-smart-notification h3{color: #4C5054; position: relative; border-bottom: 1px solid #ccc; padding-bottom: 10px;}
.parr-wpmatico-smart-notification{padding-right: 10px;}