p { margin-bottom: 2px; }
.publish_status{
	display: flex;
}
.publish_status .postbox{
	width: 50%;
	height: auto !important;
	min-width: initial;
	padding: 5px 10px !important;
	margin-right: 10px !important;
}
.publish_status .postbox:last-child{
	margin-right: 0 !important;
}
#major-publishing-actions{
	border-top: 0;
}
#category-box #major-publishing-actions{
	border: 1px solid #e5e5e5;
}
#major-publishing-actions .radio { min-width: 16px; vertical-align: bottom; width: 16px; }
.updated a { display:none; } 

#edit-slug-box, #post-preview{display: none;}
#minor-publishing-actions { display:none; }
#misc-publishing-actions { display:none; }
#nocustitle, #ctnocont, #striphtml{background: #E3E3E3; padding: 0.1em 15px ; }
#wcf_edit li { background-color: lemonChiffon; border: 2px solid #CEE1EF;padding: .5em;height: 40px;}

#poststuff h3 {background-color: #6EDA67;}
.inside h3.subsection {background-color: #eeeeee !important;line-height: 1em;padding:5px; margin: 15px 0 0;}

#msgdrag {display:none;color:red;padding: 0 0 0 20px;font-weight: 600;font-size: 1em;}

#w2cactions .bicon{
	font-size: 1.6em;
	width: 24px;
	text-align: center;
	padding: 5px 2px;
}
.rowactions{margin: 1.7em; display: flex;}
.rowflex{display: flex;}
.rowblock{display: block;}

#wrd2cat_edit .pDiv {display: flex;}
#rewrites_edit .pDiv {height:65px;}
.pbfeet {margin:6px;}
.pbfeet .select_down{margin-left:6px;}

.pDiv{border-color: #BCBCBC;
    border-style: solid none none;
    border-width: 1px medium;
	min-height: 28px;}

#paging-box {background-color: #F1F1F1;font-size: 11px;height: 30px; padding: 5px 10px; border: 1px solid #e5e5e5;}
#paging-box .leftText{float:left;margin-left:5px;margin-top:2px;width:360px;}
#paging-box .middleText{float:left;margin-top:2px;}
#paging-box .rightText{float:right;margin-right:10px;}
#paging-box .button-primary{margin-right: 5px;}
#paging-box .button-primary:last-child{margin-right: 0px;}
#campaign_type {display: inline; width: 100%; text-align: center; color: #333; font-weight: bold;}

.delete{color: #F88;}
.delete:hover{color: red;}
.warning{color: #eb9600; opacity: 0.6;}
.warning:hover{opacity: 1;}

ul#categories li .children {margin-left: 12px;}

.wi10 {width: 10% !important;}
.wi30 {width: 30%;}
.wi50 {width: 50%;}
.mt2{margin-top:2px;}
.m4{margin:4px;}
.p4{padding:4px;}
.p7{padding: 0.7em;}
.he20{height:20px;}
.he35{height:35px;}
.mphlp_old{font-family: Helvetica;font-size: 11px;margin: -5px 0 10px;padding: 0 0 0 25px; color: #277;}
.mphlp{font-family: Helvetica;font-size: 11px;margin: 0;padding: 0 0 0 25px; color: #277;}

.maxhe290 {max-height: 290px; overflow: auto; overflow-x: hidden; overflow-y: scroll;}
#ruedita1 {margin: 6px -2px 0 0;float:right;}
#ruedita.spinner {margin: 0;}
.check1feed #ruedita {visibility: visible;display: block;}

.tag{cursor: pointer;}
.tagcf{cursor: pointer;}
.tag:hover {color: red;}
.tagcf:hover {color: red;}
.codlist{background: #FAFAFA;border: 1px solid #CCCCCC;font-family: verdana,Tahoma,Georgia;font-size: 11px;padding: 0.1em 1em 0;width: 220px;}
.code{background: none repeat scroll 0 0 #FAFAFA;border: 1px solid #CCCCCC;margin-bottom: 0.9em;padding: 0.4em 1em ;}
.coderr{background: none repeat scroll 0 0 #FAFAFA;border: 1px solid #CCCCCC;margin-bottom: 0.9em; padding: 0.1em 1em 0 ;}
.inmetabox{margin: -6px -10px -8px;overflow: hidden;padding: 0 10px;}
#fieldserror{padding: 10px;}

.bw{background-color: #FFF;}
.lightBlue{background-color:Lightblue;}
.lightblue{background-color:LightCyan;}
.lavender{background-color:lavenderBlush;}
.yellow{background-color:LemonChiffon;}
.rosita{background-color:Linen;}
.PaleGreen{background-color:PaleGreen;}
.MistyRose{background-color:MistyRose;}
.LightPink{background-color:LightPink;}
.Papaya{background-color:PapayaWhip;}

.wpefeedlink {
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=) center right no-repeat;*/
    position: absolute;
	margin-left: -19px;
	padding: 1px 1px 5px;
	text-decoration: none;
}
.wpefeedlink .dashicons-external {
    font-size: 14px;
}

.feedoptionsicon, .is_multifeedicon {
	color: #c27c00;
}
div.feed_column {float: left;width: 39%;}
#feed_actions{margin-left: 5px;}
#feed_actions button {
    height: 28px;
    width: 30px;
    padding-left: 0px;
    margin: 1px 5px 0 0;
    padding-right: 0px;
	line-height: 0;
    border: 1px solid #AAA;
    background: linear-gradient(to bottom, #fcfcfc 20%, #adadad 100%);
    border-radius: 2px;
}
#feed_actions button:hover {
    cursor: pointer;
	background:  linear-gradient(to bottom, #cdcdcd 10%, #fcfcfc 100%);
}
#feed_actions button[disabled]:hover {
    cursor: default;
    background: linear-gradient(to bottom, #fcfcfc 20%, #adadad 100%);
}
.feed_content{
	border: 1px solid #e5e5e5;
	border-bottom: 0;
}
.feed_header{
	background-color:#E1DC9C;
	background:-moz-linear-gradient(center bottom,#FCF6BC 0,#E1DC9C 98%,#FFFEA8 0);
	background:-webkit-gradient(linear,left top,left bottom,from(#FCF6BC),to(#E1DC9C));
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCF6BC',endColorstr='#E1DC9C');
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCF6BC',endColorstr='#E1DC9C');
	font-weight: 600;
	font-size: 0.9em;
	margin-top:-1px;
	overflow:hidden;
	padding:5px 10px;
}
.feed_header input{color:#999;font-size:13px;padding:0px;width:227px}
.feed_header .feed_column:first-child{padding-left:20px;}
#feeds_list {/*background:#E2E2E2;*/}
.sortitem{background:#fff;padding: 8px 10px 8px 20px; display: flex;}
.sortitem .sorthandle{position:absolute;top:5px;bottom:5px;left:3px;width:8px;display:none;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC');}
.sortitem:hover .sorthandle{display:block;}
.feed_column input {font-size: 1em !important;}


.wpematico_campaign_details {
    width: 100%;
	margin: 10px 0 5px;
}

.wpematico_campaign_details .feed_header {
    padding: 7px;
    font-weight: bold;
    font-size: inherit;
    text-align: center;
}
.wpematico_campaign_details .wpematico_current_state{
	width: 100%;
	padding: 5px 5px 0;
	padding: 5px 5px 0;
}
.wpematico_campaign_details .wpematico_current_state #wpematico_current_state_actions{
    display: flex;
    flex-wrap: wrap;
}
.wpematico_campaign_details .wpematico_current_state #wpematico_current_state_actions .cpanelbutton:last-child{
	margin-right: 0;
}
.cpanel-footer {
	background: #eee;
	padding: 1px 2px;
	min-height: 13px;
	padding: 5px;
}
/**********************************************************************************************/
/**********************************************************************************************/
#cron-box .inside{
	display: flex;
}
div#cronboxes {
  background-color: tan;
  width: 100%;
  margin-left: 15px;
  display: flex;
  padding: 0 5px;
  box-sizing: border-box;
  max-width: 800px;
}
div#cronboxes div {
	padding: 5px; 
	height: 200px;
  	width: 100%;
}
div#cronboxes div select{
  height: 89%;
  width: 100%;
}
div#optionslayer {
  margin-right: 10px;
}
div#optionslayer-right {
	margin-right: 20px;
	border-left: 1px solid lightgrey;
	padding-left: 10px;
}

.normal{font-weight:normal}
.b{font-weight:bold}
.u{text-decoration:underline}
.i{font-style:italic}
.strike{text-decoration:line-through}
.tleft{text-align:left}
.tright{text-align:right}
.tcenter{text-align:center}
.vtop{vertical-align:top}
.vbottom{vertical-align:bottom}
.vmiddle{vertical-align:middle}
.left{float:left}
.right{float:right}
.floatend{clear:both;margin:0;line-height:1px;font-size:1px;height:1px}
.pointer{cursor:pointer}
.sup{vertical-align:15%}
.hide{display:none}
.vhide{visibility:hidden}
.prel{position:relative}
.pabs{position:absolute}
.ibfix{display:inline-block;zoom:1;*display:inline}


.mya4_sprite,.ui-icon{background:url(../../images/sprite.gif) top left;background-repeat:no-repeat}
.mya4-tabicons{margin-right:10px;position:relative;vertical-align:text-top}
.tab_inactive_payments{background-position:-34px -18px;width:10px;height:13px}
.tab_active_payments{background-position:-34px -32px;width:10px;height:13px}
.tab_inactive_products{background-position:-45px -18px;width:14px;height:14px}
.tab_active_products{background-position:-45px -33px;width:14px;height:14px}
.tab_inactive_renewals{background-position:-59px -18px;width:14px;height:14px}
.tab_active_renewals{background-position:-59px -33px;width:14px;height:14px}
.tab_inactive_settings{background-position:-74px -18px;width:14px;height:14px}
.tab_active_settings{background-position:-74px -33px;width:14px;height:14px}
.tab_inactive_upgrades{background-position:-89px -18px;width:14px;height:14px}
.tab_active_upgrades{background-position:-89px -33px;width:14px;height:14px}
.tab_inactive_accSummary{background-position:-104px -18px;width:15px;height:14px}
.tab_active_accSummary{background-position:-104px -33px;width:15px;height:14px}
.begin_inactive_arrow{background-position:0 0;width:17px;height:17px}
.begin_active_arrow{background-position:-72px 0;width:17px;height:17px;cursor:pointer}
.end_inactive_arrow{background-position:-54px 0;width:17px;height:17px}
.end_active_arrow{background-position:-126px 0;width:17px;height:17px;cursor:pointer}
.prev_inactive_arrow{background-position:-18px 0;width:17px;height:17px}
.prev_active_arrow{background-position:-90px 0;width:17px;height:17px;cursor:pointer}
.next_inactive_arrow{background-position:-36px 0;width:17px;height:17px}
.next_active_arrow{background-position:-108px 0;width:17px;height:17px;cursor:pointer}
.arrow_opacity{opacity:.4;filter:alpha(opacity=40);-moz-opacity:.4;cursor:default}
.plus_prod{background-position:0 -18px;width:16px;height:16px}
.minus_prod{background-position:-17px -18px;width:16px;height:16px}
.orange_alert{background-position:-1px -35px;width:10px;height:10px}
.red_alert{background-position:-12px -35px;width:10px;height:10px}
.QIco{background-position:-23px -35px;width:10px;height:10px}
.refreshIco{background-position:-120px -18px;width:14px;height:14px}
.GoIco{background-position:-135px -19px;width:15px;height:15px}
.searchIco{background-position:-119px -33px;width:12px;height:12px;cursor:pointer}
.closeIco{background-position:-144px 0;width:15px;height:15px;cursor:pointer}
.checkmark_large{background-position:0 -48px;width:24px;height:24px}
.checkmark_small{background-position:-104px -48px;width:17px;height:17px}
.yellowalert_large{background-position:-50px -48px;width:26px;height:23px}
.yellowalert_small{background-position:-122px -46px;width:19px;height:19px}
.redalert_large{background-position:-77px -48px;width:26px;height:23px}
.redalert_small{background-position:-140px -46px;width:19px;height:19px}
.sortup{background-position:-111px -66px;width:8px;height:4px;cursor:pointer}
.sortdown{background-position:-104px -66px;width:7px;height:4px;cursor:pointer}
.triangle_w,.ui-icon-circle-triangle-w{background-position:-159px -38px;height:14px;width:15px}
.triangle_e,.ui-icon-circle-triangle-e{background-position:-160px -53px;height:14px;width:15px}
.calendar{background-position:-159px -20px;height:17px;width:17px}
.checkmark_circle{background-position:-181px -21px;height:20px;width:20px}
.redx_circle{background-position:-181px 0;height:20px;width:20px}
.info-arrow-top{background-position:-132px -34px;height:12px;width:12px}
.info-arrow-bottom{background-position:-145px -34px;height:12px;width:12px}
.select_down{background-position:-202px -18px;height:17px;width:17px}
.select_up{background-position:-202px 0;height:17px;width:17px}
.checkmark_Italic{background-position:-161px 0;height:18px;width:19px}
.alert_star{background-position:-175px -42px;height:15px;width:15px}

#addmorew2c { font-weight: bold; text-decoration: none }
.row_word_to_cat:nth-child(even) { background-color:LightCyan; }
.table_wpematico_details {
	width: 100%;
	border-spacing: 1px;
}
.table_wpematico_details tr:nth-child(2n+1) {
    background: aliceblue;
}
.table_wpematico_details tr:nth-child(2n) {
    background: beige;
}
.table_wpematico_details tr td{
	padding: 5px;
}
#feeds_list div.sortitem:nth-child(2n+1) {
    background-color: #FFF;
}
#feeds_list div.sortitem:nth-child(2n) {
    background-color:LightCyan;
}
/*
  START CAMPAIGN WIZZARD CSS.
*/
#wizard_mask{position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,.7);top: 0;left: 0;z-index: 999999;display: none;}
#thickbox_wizard{position: relative;display: none;position: absolute;z-index: 9999999;padding:15px; background:-webkit-linear-gradient(#D47536,#B5642E); background:-moz-linear-gradient(#D47536,#B5642E); background:-o-linear-gradient(#D47536,#B5642E); }
#thickbox_wizard h2{text-align: center; font-family: helvetica; color: white; position: relative; }
#thickbox_wizard h2 input{position: absolute; top: 0; right:0; padding-right:10px; background-color: transparent; border:none; font-size: 40px !important; color: white; margin-top: -30px; }
.help_wizard{font-size: 17px; min-height: 20px; max-height: 10vh; overflow-y: auto;  padding:5px; padding-left: 40px;}
.icon-wizard-help{font-size: 50px; float: left; color: white; }
.closed_wizard{text-shadow: 1px 1px 1px #9E5729;}
.thickbox_open {
	background: rgb(238, 182, 78) !important;
	border: 1px solid #f66d22 !important;
	color: red !important;
} 
.thickbox_open:hover {
	background: #f66d22 !important;
	border: 1px solid #f66d22 !important;
	color: white !important;
}
.title_wizard {
	padding: 10px; background-color: #DB9667;
	font-size: 1.3em;
}

#wrd2cat_edit .pDiv #c1{
	margin-left: 15px;
}
/* Small Devices */
@media screen and (max-width: 699px) and (min-width: 220px) {
	.help_wizard{font-size: 12px !important;}
	.closed_wizard{font-size: 10px !important;}
	.title_wizard{font-size: 0.8em !important; padding: 2px !important;}
}


/* Medium Devices, Desktops */
@media screen and (max-width: 1000px) and (min-width: 700px) {
	.help_wizard{font-size: 18px !important;}
	.closed_wizard{font-size: 10px !important;}
	.title_wizard{font-size: 1.3em !important; padding: 10px !important;}
	.wpematico_divider_list_wizard{margin-top: -0px;}
	#temp_postbox{margin-top: 0px !important;}

}
@media (max-width: 1235px){
	#wrd2cat_edit .pDiv .regular-text{
		width: 24em;
	}
	#wrd2cat_edit{
		clear: both;
	}
	#wrd2cat_edit .pDiv {
		height: auto;
		display: flex;
	}
	#wrd2cat_edit .pDiv #w1,
	#wrd2cat_edit .pDiv #c1{
		width: 50%;
	}
	#wrd2cat_edit .pDiv select{
		display: block;
		width: 100%;
	}
	#wrd2cat_edit .pDiv label,
	#wrd2cat_edit .pDiv select{
		vertical-align: initial !important;
	}
	#wrd2cat_edit .pDiv label #campaign_wrd2cat{
		margin-bottom: 10px;
		box-sizing: border-box;
		width: 100%;
	}
	#w2cactions .bicon{
		margin-top: 20px;
	}
}
@media (max-width: 1199px){
	#cron-box .inside{
		display: block;
	}
	div#cronboxes{
		margin-left: 0;
		margin-top: 15px;
		box-sizing: border-box;
	}
}
@media (max-width: 782px){
	.wrap .page-title-action{
		padding: 5px 10px;
	}
	#schedulelayer{
		width: 100%;
	}
	.publish_status .postbox{
		padding: 5px 10px 10px !important;
	}
	#major-publishing-actions input, #minor-publishing-actions .preview, #minor-publishing-actions input{
		margin-top: 10px;
		vertical-align: bottom !important;
	}
	input[type=radio], input[type=checkbox],
	#major-publishing-actions .radio{
		height: 20px !important;
		width: 20px !important;
	}
	input[type=radio]:checked:before{
		margin: 5px;
	}
	.widefat tfoot td input[type=checkbox]:before, .widefat th input[type=checkbox]:before, .widefat thead td input[type=checkbox]:before, input[type=checkbox]:checked:before{
		margin: -3px -7px !important;
	}
	#word2cats-box #paging-box{
		margin-top: 15px;
	}
	#wrd2cat_edit select{
		height: 35px;
	}
	.regular-text{
		width: 100% !important;
	}
}
@media (max-width: 565px){
	#msgdrag,
	div.feed_column{
		padding-left: 0 !important;
		float: none;
		width: 100%;
	}
	.feed_content .feed_header .right{
		float: none;
	}
	.feed_content #feed_actions{
		display: flex;
	}
	div#cronboxes{
		display: block;
	}
	div#cronboxes div{
		box-sizing: border-box;
	}
	.pbfeet{
		font-size: 0;
	}
}
@media (max-width: 390px){
	.wpefeedlink{
		display: none;
	}
}