.tag, .tagcf {
    cursor: pointer;
}
.tag:hover, .tagcf:hover {
    color: red;
}
.codlist {
    background: #FAFAFA;
    border: 1px solid #CCCCCC;
    font-family: verdana, Tahoma, Georgia;
    font-size: 11px;
    padding: 0.1em 1em 0;
    width: 220px;
}
.code {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    margin-bottom: 0.9em;
    padding: 0.4em 1em;
}
.coderr {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    margin-bottom: 0.9em;
    padding: 5px;
    display: inline-block;
}
.inmetabox {
    margin: -6px -10px -8px;
    overflow: hidden;
    padding: 0 10px;
}
.bw {
    background-color: #FFF;
}
.green {
    color: #00BF00 !important;
}
.grey {
    color: #888 !important;
}
.red {
    color: red !important;
}
.lightBlue {
    background-color: Lightblue;
}
.lightblue {
    background-color: LightCyan;
}
.lavender {
    background-color: lavenderBlush;
}
.yellow {
    background-color: LemonChiffon;
}
.rosita {
    background-color: Linen;
}
.PaleGreen {
    background-color: PaleGreen;
}
.MistyRose {
    background-color: MistyRose;
}
.LightPink {
    background-color: LightPink;
}
.Papaya {
    background-color: PapayaWhip;
}
.normal {
    font-weight: normal
}
.b {
    font-weight: bold
}
.u {
    text-decoration: underline
}
.i {
    font-style: italic
}
.strike {
    text-decoration: line-through
}
.wi10 {
    width: 10% !important;
}
.wi28-inline {
    width: 28%;
    display: inline-block;
}
.wi30 {
    width: 30%;
}
.wi33 {
    width: 33%;
    margin-left: 1px;
}
.wi50 {
    width: 50%;
}
.mt2 {
    margin-top: 2px;
}
.m4 {
    margin: 4px;
}
.m7 {
    margin: 0.7em;
}
.p4 {
    padding: 4px;
}
.p7 {
    padding: 0.7em;
}
.tleft {
    text-align: left
}
.tright {
    text-align: right
}
.tcenter {
    text-align: center
}
.vtop {
    vertical-align: top
}
.vbottom {
    vertical-align: bottom
}
.vmiddle {
    vertical-align: middle
}
.left {
    float: left
}
.left-important {
    float: left !important;
}
.right {
    float: right
}
.floatend {
    clear: both;
    margin: 0;
    line-height: 1px;
    font-size: 1px;
    height: 1px
}
.pointer {
    cursor: pointer
}
.sup {
    vertical-align: 15%
}
.hide {
    display: none
}
.vhide {
    visibility: hidden
}
.prel {
    position: relative
}
.pabs {
    position: absolute
}
.ibfix {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.delete {
    color: #F88;
}
.delete:hover {
    color: red;
}
.warning {
    color: #c64f00;
    opacity: 0.6;
}
.warning:hover {
    opacity: 1;
}

.inside {
    font-weight: normal;
}
.inside h3.subsection {
    background-color: #eeeeee !important;
    line-height: 1em;
    padding: 5px;
    margin: 15px 0 0;
}
p {
    margin-bottom: 2px;
}
.updated a {
    display: none;
}
#msgdrag {
    display: none;
    color: red;
    padding: 0 0 0 20px;
    font-weight: 600;
    font-size: 1em;
}
#w2cactions .bicon {
    font-size: 1.6em;
    width: 24px;
    text-align: center;
    padding: 5px 2px;
}
.rowactions {
    margin: 1.7em;
    display: flex;
}
.rowflex {
    display: flex;
}
.rowblock {
    display: block;
}
.publish_status{
}
#stati_options{
	display: flex;
}
.publish_status .postbox{
    height: auto !important;
    min-width: initial;
    padding: 5px 10px !important;
	margin-bottom: 5px !important;
}
#major-publishing-actions{
    border-top: 0;
}
#major-publishing-actions .radio {
    min-width: 16px;
    vertical-align: bottom;
}
#minor-publishing-actions {
    display: none;
}
#misc-publishing-actions {
    display: none;
}
#category-box #major-publishing-actions{
    border: 1px solid #e5e5e5;
}
#category-box #categories li{
    display: flex;
    align-items: center;
}
#category-box #categories li input[type="checkbox"]{
    min-width: 20px;
    margin-right: .5rem;
}
#category-box #categories li input[type="text"]{
    max-width: calc(100% - 28px);
}
#edit-slug-box,
#post-preview {
    display: none;
}
#nocustitle,
#ctnocont,
#striphtml {
    background: #E3E3E3;
    padding: 0.1em 15px;
}
/*.nav-section:before{ content: " | "; }
.nav-section:first-child:before{ content: ""; }
*/

.nav-section-active {
    color: red;
}
.debug-section-title {
    font-weight: 700 !important;
    padding: 9px !important;
}
.debug-section {
    margin-top: 15px;
}
.debug-section mark.yes {
    color: #7ad03a;
    background: 0;
}
.debug-section mark.error {
    color: #a00;
    background: 0;
}
.debug-section mark.error-no-install {
    color: pink;
    background: 0;
}
.current-state {
    font-family: Arial;
    font-size: 10px;
    text-align: center;
    border: #555 solid !important;
    border-bottom: 1px solid !important;
    background: antiquewhite;
    border-radius: 10px 10px 0 0 !important;
    margin-bottom: 1px;
    width: 90px;
}
.cpanelbutton {
    height: 30px;
    width: 30px;
    padding-left: 0px;
    margin: 0 0 5px 5px;
    padding-right: 0px;
    border: 1px solid #AAA;
    background: linear-gradient(to bottom, #fcfcfc 20%, #adadad 100%);
    border-radius: 2px;
}
.cpanelbutton:first-child {
    margin-left: 0;
}
.cpanelbutton:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #cdcdcd 10%, #fcfcfc 100%);
}
.cpanelbutton[disabled]:hover {
    cursor: default;
    background: linear-gradient(to bottom, #fcfcfc 20%, #adadad 100%);
}
.iconbutton {
    border: 1px solid lightsteelblue;
    border-radius: 3px;
    margin: -1px 2px;
    background: white;
}
.iconbutton:hover {
    background: grey;
    color: white;
}
.wpematico_campaign_details {
    width: 100%;
    margin: 10px 0 5px;
}
.wpematico_campaign_details .feed_header {
    padding: 7px;
    font-weight: bold;
    font-size: inherit;
    text-align: center;
}
.wpematico_campaign_details .wpematico_current_state {
    width: 100%;
    padding: 5px 5px 0;
    padding: 5px 5px 0;
}
.wpematico_campaign_details .wpematico_current_state #wpematico_current_state_actions {
    display: flex;
    flex-wrap: wrap;
}
.wpematico_campaign_details .wpematico_current_state #wpematico_current_state_actions .cpanelbutton:last-child {
    margin-right: 0;
}
.cpanel-footer {
    background: #eee;
    padding: 1px 2px;
    min-height: 13px;
    padding: 5px;
}
.delete:before {
    content: "\2718";
}
.add:before {
    content: "\271A";
}
.warning:before {
    content: "\26A0";
}
.frowning_face:before {
    content: "\2639";
}
.smiling_face:before {
    content: "\263A";
}
a.wpelinks {
    font-weight: bold;
}
.wpelinks .dashicons-external {
    font-size: 14px;
    vertical-align: sub;
    width: 10px;
    color: darkgoldenrod;
}
.mphlp_old {
    font-family: Helvetica;
    font-size: 11px;
    margin: -5px 0 10px;
    padding: 0 0 0 25px;
    color: #277;
}
.mphlp {
    font-family: Helvetica;
    font-size: 11px;
    margin: 0;
    padding: 0 0 0 25px;
    color: #277;
}
.maxhe150 {
    max-height: 150px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.maxhe290 {
    max-height: 290px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.wpe_spinner:before {
    animation: rotation 2s linear infinite;
    display: block;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.pDiv {
    border-color: #BCBCBC;
    border-style: none;
    border-width: 1px medium;
    display: flex;
}
#rewrites_edit .pDiv {
    display: flex;
}
#poststuff .inside .left{
    float: none;   
}
.pbfeet {
    margin: 6px;
}
.pbfeet .select_down {
    margin-left: 6px;
}

/*** Settings  ***/
.logover {
    width: 20%;
    float: left;
    margin-right: 5px;
}
.icon_version {
    opacity: 0.5;
    display: inline-block;
}
.icon_version:hover {
    opacity: 0.9;
}
#discredits {
    background: yellow;
}
.nav-tab div{
    display: flex;
    align-items: center;
}
.nav-tab div span{
    font-size: 16px;
    height: initial;
    width: initial;
    margin-right: 5px;
}
/*** Settings  ***/

.submenu_dropdown .filter_bar,
#gag-agreement .filter_bar {
    background-color: #E1DC9C;
    background: -moz-linear-gradient(center bottom, #FCF6BC 0, #E1DC9C 98%, #FFFEA8 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#FCF6BC), to(#E1DC9C));
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FCF6BC', endColorstr='#E1DC9C');
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FCF6BC', endColorstr='#E1DC9C');
    border: 1px solid #BCBCBC;
    border-bottom-style: none;
    margin-top: -1px;
    overflow: hidden;
    padding: 3px 10px
}
.submenu_dropdown .filter_bar select {
    border: 1px solid #B2B2B2;
    font-size: 11px;
    padding: 3px 3px 3px 7px;
    width: 180px
}
.submenu_dropdown .filter_bar input {
    color: #999;
    font-size: 13px;
    padding: 0px;
    width: 227px
}
#licenses .postbox .inside {
    display: block;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
#licenses .postbox .inside form{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: -15px;
    padding-bottom: 2.5rem;
}
#licenses .postbox .inside .postbox-license{
    background: #fff;
    width: 100%;
}
#licenses .postbox .inside .postbox-license .inside{
    padding: 15px;
    margin: 15px;
    border: 1px solid #e5e5e5;
    width: auto;
}
#licenses .postbox .inside .postbox-license .regular-text{
    width: 100%;
}
#licenses .postbox .inside .postbox-license .form-table th{
    width: 100%;
}
#licenses .postbox .inside .postbox-license .form-table td{
    width: 100%;
    padding: 15px 0;
}
#licenses .postbox .inside .postbox-license .form-table td label{
    font-weight: 600;
}
#licenses .postbox .inside .postbox-license .form-table .tr_license_status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#licenses .postbox .inside .postbox-license .form-table .tr_license_status td{
    width: auto;
    padding: 0;
    margin: 0;
    text-align: right;
}
#licenses .postbox .inside .postbox-license .form-table .tr_license_status td .btn_license_check{
    margin-bottom: 10px;
}
#licenses .postbox .inside form p.submit{
    display: block;
    position: absolute;
    right: 15px;
    bottom: 15px;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px){
    #licenses .postbox .inside .postbox-license{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 992px){
    #licenses .postbox .inside .postbox-license{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (max-width: 782px){
    #licenses .postbox .inside form{
        padding-bottom: 3.5rem;
    }
}
.help_tip {
    cursor: help;
    line-height: 1;
    margin: 0px 0 0 2px;
    padding: 0;
    vertical-align: middle;
    color: #d3741c;
    font-size: 18px;
}
.help_tip:hover {
    color: #ef8e2f;
}
#tiptip_holder {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99999999;
}
#tiptip_holder.tip_top {
    padding-bottom: 5px;
}
#tiptip_holder.tip_bottom {
    padding-top: 5px;
}
#tiptip_holder.tip_right {
    padding-left: 5px;
}
#tiptip_holder.tip_left {
    padding-right: 5px;
}
#tiptip_content {
    background-color: #D3741C;
    border: 1px solid rgba(211, 116, 28, 1);
    border-radius: 0;
    box-shadow: 4px 4px 4px rgba(0,0,0,.2);
    color: #fff;
    font-size: 13px;
    moz-border-radius: 0;
    moz-box-shadow: 4px 4px 4px rgba(0,0,0,.2);
    padding: 10px 15px;
    webkit-border-radius: 0;
    webkit-box-shadow: 4px 4px 4px rgba(0,0,0,.2);
    z-index: 99999998;
}
#tiptip_content code {
    background: #1d94cf;
    color: #fff;
    font-size: 13px;
    padding: 2px;
    text-shadow: none;
}
#tiptip_content a {
    color: #333;
    font-weight: 600;
}
#tiptip_content a:hover {
    color: #222;
}
#tiptip_arrow,
#tiptip_arrow_inner {
    border: 6px solid transparent;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 99999998;
}
#tiptip_holder.tip_top #tiptip_arrow {
    border-top-color: #fff;
    border-top-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_bottom #tiptip_arrow {
    border-bottom-color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_right #tiptip_arrow {
    border-right-color: #fff;
    border-right-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_left #tiptip_arrow {
    border-left-color: #fff;
    border-left-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: #D3741C;
    border-top-color: rgba(211, 116, 28, 1);
    margin-left: -6px;
    margin-top: -7px;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: #D3741C;
    border-bottom-color: rgba(211, 116, 28, 1);
    margin-left: -6px;
    margin-top: -5px;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
    border-right-color: #D3741C;
    border-right-color: rgba(211, 116, 28, 1);
    margin-left: -5px;
    margin-top: -6px;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
    border-left-color: #D3741C;
    border-left-color: rgba(211, 116, 28, 1);
    margin-left: -7px;
    margin-top: -6px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #tiptip_content {
        background-color: #D3741C;
        padding: 10px 15px;
    }
    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: #D3741C;
    }
    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: #D3741C;
    }
}
#hlptrash .hlptrash-content{
    max-height: 135px;
    overflow-y: auto;
    margin-top: 10px;
}
#roles {
    margin: 10px;
    width: 200px;
    max-height: 135px;
    overflow-y: auto;
}
#roles label {
    margin: 5px;
    display: table;
}
@media (max-width: 600px) {
    #emptytrashdiv .insidesec{
        width: 100%;
        margin-right: 0 !important;
        padding-right: 0 !important;
        border-right: 0 !important;
    }
    #emptytrashdiv .insidesec:not(:last-child){
        border-bottom: 1px solid lightgray;
        margin-bottom: 15px;
    }
    #emptytrashdiv .insidesec #roles{
        width: 100%;
        margin: 10px 0;
        padding-left: 10px;
        box-sizing: border-box;
    }
    #emptytrashdiv #hlptrash .hlptrash-content > div,
    #emptytrashdiv #roles label{
        height: 20px;
        margin-bottom: 5px !important;
    }
}
.text-right {
    text-align: right;
}
#featimgfilt_edit .bw .pDiv,
#imgfilt_edit .bw .pDiv {
    display: flex;
    flex-direction: row;
}
#wcf_edit li {
    display: flex;
    flex-direction: row;
    background-color: lemonChiffon;
    border: 2px solid #CEE1EF;
    padding: .5em;
}
#wcf_edit li #w1,
#wcf_edit li #c1 {
    float: none !important;
}
#wrd2cat_edit .pDiv {
    display: flex;
}
#wrd2cat_edit .pDiv #c1 {
    margin-left: 15px;
}
/*#poststuff h3 {
    background-color: #6EDA67;
}*/
.table_wpematico_details {
    width: 100%;
    border-spacing: 1px;
}
.table_wpematico_details tr:nth-child(2n+1) {
    background: aliceblue;
}
.table_wpematico_details tr:nth-child(2n) {
    background: beige;
}
.table_wpematico_details tr td {
    padding: 5px;
}
#feeds_list div.sortitem:nth-child(2n+1) {
    background-color: #FFF;
}
#feeds_list div.sortitem:nth-child(2n) {
    background-color: LightCyan;
}
#paging-box {
    background-color: #F1F1F1;
    font-size: 11px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
}
#paging-box .leftText {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    width: 360px;
}
#paging-box .middleText {
    float: left;
    margin-top: 2px;
}
#paging-box .rightText {
    float: right;
    margin-right: 10px;
}
#paging-box .button-primary {
    margin-right: 5px;
}
#paging-box .button-primary:last-child {
    margin-right: 0px;
}
#campaign_types #campaign_type {
    display: inline;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: bold;
}
ul#categories li .children {
    margin-left: 12px;
}
#fieldserror {
    padding: 10px;
}
#fieldserror p{
    margin: 0;
}
.wpefeedlink {
    position: absolute;
    padding: 1px 1px 5px;
    text-decoration: none;
    right: -3px;
    top: 0;
}
.wpefeedlink .dashicons-external {
    font-size: 14px;
}
.feedoptionsicon,
.is_multifeedicon {
    color: #c27c00;
}
.name_column {
    display: inline-block;
    width: 10%;
}
input.feed_name {
    display: inline-block;
    width: 10%;
	overflow: hidden;
}
input.feed_name_read_only {
    margin-right: 5px;
}
div.feed_column {
    display: inline-block;
    width: 39%;
    position: relative;
    margin-right: 5px;
}
.feed_column input {
    font-size: 1em !important;
    min-height: 28px;
    width: 100%;
}
#feed_actions {
    margin-left: 5px;
}
#feed_actions button {
    height: 28px;
    width: 30px;
    padding-left: 0px;
    margin: 0 5px 0 0;
    padding-right: 0px;
    line-height: 0;
    border: 1px solid #AAA;
    background: linear-gradient(to bottom, #fcfcfc 20%, #adadad 100%);
    border-radius: 2px;
}
#feed_actions button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #cdcdcd 10%, #fcfcfc 100%);
}
#feed_actions button[disabled]:hover {
    cursor: default;
    background: linear-gradient(to bottom, #fcfcfc 20%, #adadad 100%);
}
.feed_content {
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}
.feed_header {
    background-color: #E1DC9C;
    background: -moz-linear-gradient(center bottom, #FCF6BC 0, #E1DC9C 98%, #FFFEA8 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#FCF6BC), to(#E1DC9C));
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FCF6BC', endColorstr='#E1DC9C');
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FCF6BC', endColorstr='#E1DC9C');
    font-weight: 600;
    font-size: 0.9em;
    margin-top: -1px;
    overflow: hidden;
    padding: 5px 10px;
}
.feed_header input {
    color: #999;
    font-size: 13px;
    padding: 0px;
    width: 227px
}
.feed_header .feed_column:first-child {
    padding-left: 20px;
}
#feeds_list {
    /*background:#E2E2E2;*/
}
.sortitem {
    background: #fff;
    padding: 8px 10px 8px 20px;
    display: flex;
    align-items: center;
}
.sortitem .sorthandle {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 3px;
    width: 8px;
    display: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC');
}
.sortitem:hover .sorthandle {
    display: block;
}
#cron-box .inside {
    display: flex;
}
div#cronboxes {
    background-color: tan;
    width: 100%;
    margin-left: 15px;
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
    max-width: 800px;
}
div#cronboxes div {
    padding: 5px;
    height: 200px;
    width: 100%;
}
div#cronboxes div select {
    height: 89%;
    width: 100%;
}
div#optionslayer {
    margin-right: 10px;
}
div#optionslayer-right {
    margin-right: 20px;
    border-left: 1px solid lightgrey;
    padding-left: 10px;
}
#addmorew2c {
    font-weight: bold;
    text-decoration: none
}
.row_word_to_cat:nth-child(even) {
    background-color: LightCyan;
}
@media (max-width: 1470px) {
    #feeds_list .sortitem .feed_name_read_only{
        width: 20%;
    }
    #feeds_list .sortitem .feed_column{
        width: 34%;
    }
    #feeds_list .sortitem #feed_actions,
    #feeds_list .sortitem select{
        width: 25%;
    }
    #feeds_list .sortitem #feed_actions button{
        margin-right: 2.5px;
    }
    #feeds_list .sortitem #feed_actions button:last-child{
        margin-right: 0;
    }
}
@media (max-width: 1235px) {
    #wrd2cat_edit .pDiv .regular-text {
        width: 24em;
    }
    #wrd2cat_edit {
        clear: both;
    }
    #wrd2cat_edit .pDiv {
        height: auto;
        display: flex;
    }
    #wrd2cat_edit .pDiv #w1,
    #wrd2cat_edit .pDiv #c1 {
        width: 50%;
    }
    #wrd2cat_edit .pDiv select {
        display: block;
        width: 100%;
    }
    #wrd2cat_edit .pDiv label,
    #wrd2cat_edit .pDiv select {
        vertical-align: initial !important;
    }
    #wrd2cat_edit .pDiv label #campaign_wrd2cat {
        margin-bottom: 10px;
        box-sizing: border-box;
        width: 100%;
    }
    #w2cactions .bicon {
        margin-top: 20px;
    }
}
@media (max-width: 1199px) {
    #cron-box .inside {
        display: block;
    }
    div#cronboxes {
        margin-left: 0;
        margin-top: 15px;
        box-sizing: border-box;
    }
    #feed_actions {
        display: flex;
    }
    #featimgfilt_edit .bw .pDiv .left,
    #imgfilt_edit .bw .pDiv .left {
        float: none !important;
        display: flex;
        align-items: center;
    }
    #featimgfilt_edit .pDiv .left #campaign_feat_value,
    #imgfilt_edit .pDiv .left #campaign_if_value {
        max-width: 60px;
    }
    #wcountf-box .he20 {
        height: auto !important;
    }
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
    .closed_wizard {
        font-size: 10px !important;
    }
    .title_wizard {
        font-size: 1.3em !important;
        padding: 10px !important;
    }
    .wpematico_divider_list_wizard {
        margin-top: -0px;
    }
    #temp_postbox {
        margin-top: 0px !important;
    }
}
@media (max-width: 782px) {
    .wrap .page-title-action {
        padding: 5px 10px;
    }
    #schedulelayer {
        width: 100%;
    }
    .publish_status .postbox {
        padding: 5px 10px 10px !important;
    }
    #major-publishing-actions input,
    #minor-publishing-actions .preview,
    #minor-publishing-actions input {
        margin-top: 10px;
        vertical-align: bottom !important;
    }
    input[type=radio],
    input[type=checkbox],
    #major-publishing-actions .radio {
        height: 20px !important;
        width: 20px !important;
    }
    input[type=radio]:checked:before {
        margin: 5px;
    }
    .widefat tfoot td input[type=checkbox]:before,
    .widefat th input[type=checkbox]:before,
    .widefat thead td input[type=checkbox]:before,
    input[type=checkbox]:checked:before {
        margin: -3px -6px !important;
        width: 1.75rem;
        height: 1.75rem;
    }
    #word2cats-box #paging-box {
        margin-top: 15px;
    }
    #wrd2cat_edit select {
        height: 35px;
    }
    .regular-text {
        width: 100% !important;
    }
}
@media (max-width: 710px) {
    div#optionslayer {
        width: 100%;
    }
    div#optionslayer-right {
        border-left: 0;
        padding-left: 0;
    }
}
@media screen and (max-width: 699px) and (min-width: 220px) {
    .closed_wizard {
        font-size: 10px !important;
    }
    .title_wizard {
        font-size: 0.8em !important;
        padding: 2px !important;
    }
}
@media (max-width: 565px) {
    #wcf_edit li {
        display: block;
    }
    #wcf_edit li #c1 {
        margin-top: 10px;
    }
    #wcf_edit li #c1 label {
        margin-left: -20px;
    }
    #campaign_wcf_category {
        width: 100%;
    }
    #msgdrag,
    div.feed_column {
        padding-left: 0 !important;
        float: none;
        width: 100%;
    }
    .feed_content .feed_header .right {
        float: none;
    }
    .feed_content #feed_actions {
        display: flex;
    }
    div#cronboxes {
        display: block;
    }
    div#cronboxes div {
        box-sizing: border-box;
    }
    .pbfeet {
        font-size: 0;
    }
}
@media (max-width: 390px) {
    .wpefeedlink {
        display: none;
    }
}
/* Wizard */

#wizard_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    z-index: 100049;
    display: none;
}
#thickbox_wizard {
    position: relative;
    display: none;
    position: absolute;
    z-index: 100049;
    padding: 15px;
    top: 120px;
    left: 25%;
    margin: 0 !important;
    padding: 0;
    width: 50%;
    max-width: initial;
    background: none;
    background-color: #f1f1f1;
    box-shadow: 0 0 14px rgba(0, 0, 0, .7);
}
#thickbox_wizard .left{
    float: none !important;
}
#thickbox_wizard h2 {
    text-align: center;
    font-family: helvetica;
    color: white;
    position: relative;
    font-size: 14px;
}
#thickbox_wizard h2 input {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 30px !important;
    color: white;
}
.wpematico_divider_list_wizard {
    display: flex;
    align-items: flex-start;
    background-color: #f1f1f1;
    font-style: italic;
    padding: 10px 15px;
    color: #777;
    font-size: 15px;
    margin-bottom: 15px;
}
.help_wizard {
    align-self: center;
    font-size: 14px;
    max-height: initial;
    overflow-y: auto;
    padding: 0;
    margin: 0 !important;
    color: #555;
}
.icon-wizard-help {
    width: auto;
    height: auto;
    color: #bbb;
    margin-left: 0;
    margin-right: 5px;
    font-size: 40px;
}
.closed_wizard {
    text-shadow: 1px 1px 1px #9E5729;
    font-size: 30px;
}
.thickbox_open {
    background: rgb(238, 182, 78) !important;
    border: 1px solid #f66d22 !important;
    color: red !important;
}
.thickbox_open:hover {
    background: #f66d22 !important;
    border: 1px solid #f66d22 !important;
    color: white !important;
}
.title_wizard {
    padding: 10px;
    background-color: #DB9667;
    font-size: 1.3em;
}
#thickbox_wizard #campaign_wizard {
    margin: 0;
    padding: 30px;
    color: #ffffff;
    background: #c64f00;
    font-size: 30px;
    font-family: Sans Serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}
#thickbox_wizard #titlediv {
    background-color: transparent !important;
    padding: 15px 15px 0 !important;
}
#thickbox_wizard .postbox {
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    border: 0 !important;
    box-sizing: border-box;
    height: auto !important;
}
#thickbox_wizard .postbox .inside {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
}
#thickbox_wizard .postbox #major-publishing-actions {
    background-color: #ffffff;
}
#thickbox_wizard .postbox h2 {
    color: black; 
    padding: 10px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    border: 1px solid #c3c4c7;
    margin-top: 0;
}
#thickbox_wizard .postbox #campaign_type {
    height: auto;
}
#thickbox_wizard .control-buttons {
    display: flex;
    align-items: center;
    font-size: 20px;
    position: absolute;
    z-index: 10;
    margin: 2px 10px;
}
#thickbox_wizard #prev_wizard {
    left: 10px;
}
#thickbox_wizard #next_wizard {
    right: 5px;
}
#thickbox_wizard #titlewrap {
    margin: 0 auto;
    padding: 0 100px;
}
#next_wizard .dashicons,
#prev_wizard .dashicons {
    font-size: 25px;
    width: 25px;
    height: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}
#mailaddresslog {
    margin-bottom: 15px;
}
#thickbox_wizard .wpematico_campaign_details {
    margin: 0 0 15px !important;
    padding: 15px 0 !important;
}
#thickbox_wizard div#cronboxes {
    margin-left: 0 !important;
}
@media (min-width: 992px) {
    #major-publishing-actions .radio {
        width: 16px;
    }
}
@media (min-width: 851px) {
    .cpanelbutton:nth-child(7n+1) {
        margin-left: 0;
    }
}
@media (max-width: 1199px) {
    #thickbox_wizard {
        width: 60% !important;
        left: 20% !important;
    }
}
@media (max-width: 991px) {
    #thickbox_wizard {
        width: 80% !important;
        left: 10% !important;
    }
}
@media (max-width: 767px) {
    #thickbox_wizard {
        width: 90% !important;
        left: 5% !important;
    }
    #thickbox_wizard h2 {
        font-size: 20px !important;
        padding: 20px !important;
    }
    #thickbox_wizard .postbox-title {
        font-size: 14px !important;
        padding: 10px !important;
    }
    .closed_wizard {
        font-size: 20px !important;
    }
    #thickbox_wizard .postbox .control-buttons {
        font-size: 0;
        padding: 0;
        top: 18px;
    }
    .control-buttons .dashicons {
        margin-top: 0 !important;
        font-size: 30px;
        padding: 0;
        width: auto;
        height: auto;
    }
    .he20 {
        height: auto;
    }
}
/* end Wizard */

/* CSS Corner Ribbon */
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #AD0C32 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #AD0C32;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #AD0C32;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #AD0C32;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #AD0C32;
}
/* End CSS Corner Ribbon */

/* Youtube Campaign  */
#youtube-box .inside{
    display: flex;
    align-items: center;
}
.ytpreview {
    border: 1px lightgray solid;
    padding: 10px;
    margin: 7px 0;
	color: gray;
    width: 100%;
    box-sizing: border-box;
    width: 150px;
    min-width: 150px;
    margin-right: 1rem;
}
.ytpreview .dashicons {
    font-size: 2em;
    display: block;
	color: #fff;
    height: initial;
    width: initial;
}
.ytpreview h4{
    margin: 0 0 0rem;
    font-weight: 400;
    font-size: .85em;
}
.ytpreview #titlecontent {
    color: #000;
	font-weight: bold;
}
.ytpreview #descritptioncontent{
    font-size: 9px;
    line-height: 1;
}
.featured-box,
.ytvideo-box,
.images-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 .25rem;
}
.featured-box{
    height: 35px;
}
.ytpreview .featured-box .dashicons{
    font-size: 1.5em;
}
.featured-box,
.images-box{
    background-color: #8cd6f3;
}
.featured-box{
    width: 60%;
}
.images-box{
    width: 75%;
}
.ytvideo-box,
.images-box{
    height: 50px;
}
.ytvideo-box{
    background-color: #aaa;
}
.ytvideo-box #videocontent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 1.5em;
}
.yt-help{
    width: 100%;
}
@media (max-width: 500px){
    #youtube-box .inside{
        flex-direction: column;
        align-items: initial;
    }
    #youtube-box .inside .ytpreview{
        order: 2;
    }
}
/* End Youtube Campaign  */
/* bbPress Campaign  */
.dashicons-bbpress-logo:before {
	content: "\f477";
}
/* End bbPress Campaign  */

.rowactions-rewrite {
    display: inline-block; 
    height: 70px;
    float: right; 
    padding-top: 25px;
}
.rewrite-row {
    clear: both;
}

.table_check_data_xml {
    width: 100%;
    border-spacing: 1px;
}
.table_check_data_xml tr:nth-child(2n+1) {
    background: aliceblue;
}
.table_check_data_xml tr:nth-child(2n) {
    background: beige;
}
.campaign_xml_node_parent, .campaign_xml_node {
    width: 300px;
}
.div-danger-separator {
    margin-bottom: 40px;
}
.wpematico-smart-notification {
    background-color: #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border: 1px solid #D9D9D9;
    border-left: 4px solid #0085ba;	
    margin-bottom: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    margin: 5px 12px 2px 0px;
    padding: 1px 12px;
    display: block;
}
.wpematico-smart-notification.campagin_edit {
    border-left: 4px solid #ff0000;
}
.wpematico-smart-notification h3{
    color: #4C5054; 
    position: relative; 
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
}
.wpematico-smart-notification.campagin_edit h3{
    color: #ff0000; 
}
.wpematico-smart-notification .description-smart-notification{
    display: block;
}
.wpematico-smart-notification #smart-notification-title-link {
    text-decoration: none !important;
}
.wpematico-smart-notification .icon-dismiss-div,
.wpematico-smart-notification .icon-close-div{
    color: #4C5054;
    position: absolute; 
    top: 0; 
    right: 5px;
    margin-top: -5px;
    font-size: 25px; 
    cursor: pointer;
}
.wpematico-smart-notification .icon-dismiss-div{
    right: 35px;
}
.wpematico-smart-notification .parr-wpmatico-smart-notification{
    padding-right: 10px;
}
@media (min-width: 783px){
    .wpematico-smart-notification {
        margin-right: 20px;
    }
}
/*Changelog Notice*/
.wpe_changelog-notice{
    display: block;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ef8e2f;
}
.wpe_changelog-header{
    display: flex;
    flex-wrap: wrap;
    background-color: #ef8e2f;
    padding: 15px 30px;
    position: relative;
}
.wpe_changelog-header:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #ea7308;
    z-index: 1;
}
.wpe_changelog-header .wpe_changelog-header-img{
    margin-right: 15px;
    z-index: 2;
}
.wpe_changelog-header .wpe_changelog-header-img img{
    width: auto;
    max-height: 100px;
}
.wpe_changelog-header .wpe_changelog-header-content{
    z-index: 2;
}
#poststuff .wpe_changelog-header .wpe_changelog-header-content h2{
    padding: 5px 0 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
}
.wpe_changelog-header .wpe_changelog-header-content h4{
    font-size: 18px;
    margin: 15px 0 0;
    color: #333;
}
.wpe_changelog-header .wpe_changelog-header-content h4 span{
    font-weight: 700;
}
.wpe_changelog-header .wpe_changelog-header-content p{
    margin: 0;
    font-size: 16px;
    color: #333;
}
.wpe_changelog-notice .wpe_changelog-content{
    padding: 30px;
}
.wpe_changelog-notice .wpe_changelog-list{
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 15px;
}
.wpe_changelog-notice .wpe_changelog-list ul{
    list-style: initial;
    margin: 0;
    padding-left: 15px;
}
.wpe_changelog-notice .wpe_changelog-list ul li:last-child{
    margin-bottom: 0;
}
.wpe_changelog-notice .wpe_changelog-content .button{
    display: inline-flex;
    align-items: center;
    background-color: #ef8e2f;
    border-color: #ef8e2f;
    color: #fff;
    font-weight: 600;
}
.wpe_changelog-notice .wpe_changelog-content .button:hover{
    background-color: #ea7308;
    border-color: #ea7308;
    color: #fff;
}
.wpe_changelog-notice .wpe_changelog-content .button .dashicons{
    font-size: 14px;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.wpe_changelog-dismiss{
    margin-top: 30px;
    text-align: right;
}
.wpe_changelog-dismiss .button.awesome{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2;
    padding: 10px 45px;
    position: relative;
    transition: all .4s ease;
}
.wpe_changelog-dismiss .button.awesome:focus{
    border-color: #ea7308;
    box-shadow: 0 0 0 1px #ea7308;
}
.wpe_changelog-dismiss .button.awesome span{
    z-index: 1;
}
.wpe_changelog-dismiss .button.awesome:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ea7308;
    width: 100%;
    height: 50%;
    transition: all .4s ease;
}
.wpe_changelog-dismiss .button.awesome:hover:before{
    height: 100%;
}
@media (min-width: 1921px){
    .wpe_changelog-dismiss{
        padding-right: 200px;
    }
}
@media (max-width: 565px){
    .wpe_changelog-header{
        padding: 30px;
    }
    .wpe_changelog-header .wpe_changelog-header-img,
    .wpe_changelog-header .wpe_changelog-header-content,
    .wpe_changelog-dismiss{
        width: 100%;
        text-align: center;
    }
}

/*Modal Log*/
body.wpe_modal_log-is-active{
    overflow: hidden;
}
.wpe_modal_log-box:not(.active){
    height: 0;
}
.wpe_modal_log-box.active{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0,0,0,.8);
    justify-content: center;
}
.wpe_modal_log-box .wpe_modal_log-body{
    background-color: #fff;
    padding: 30px;
    max-width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
}
.wpe_modal_log-box .wpe_modal_log-body .wpe_modal_log-close{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    position: absolute;
    right: -20px;
    top: -20px;
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
    text-decoration: none;
}
.wpe_modal_log-box .wpe_modal_log-body .wpe_modal_log-close span{
    width: 25px;
    height: 25px;
    font-size: 25px;
}
.wpe_modal_log-box:not(.active) .wpe_modal_log-body, .wpe_modal_log-box:not(.active) .wpe_modal_log-body .wpe_modal_log-content{
    height: 0;
    opacity: 0;
}
.wpe_modal_log-box .wpe_modal_log-header h3{
    font-size: 1.75em;
    margin-top: 0;
    text-align: center;
}
.wpe_modal_log-box.active .wpe_modal_log-body .wpe_modal_log-content{
    box-sizing: border-box;
    max-height: 60vh;
    overflow-y: auto;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .wpe_modal_log-box.active .wpe_modal_log-body .wpe_modal_log-content{
        font-size: 16px;
    }
}
/*Images metabox*/
.wpe_pro-features p{
    font-weight: 500;
}
.wpe_pro-features p:not(:first-child){
    margin-top: 0;
}
.wpe_pro-features p .dashicons{
    color: #d3741c;
}
/*Campaign list*/
.wp-list-table tbody tr th.check-column{
    padding-left: 6px;
}
.wp-list-table tbody .type-wpematico.wpe_campaign_active th.check-column{
    padding-left: 2px;
}
.wp-list-table tr .check-column #cb-select-all-1{
    margin-left: 12px;
}
.wp-list-table .wpe_campaign-running-tr .campaign-running{
    padding: 0;
}
.wp-list-table .wpe_campaign-running-tr .campaign-running .notice{
    margin: 5px 20px 15px 40px;
    padding: 10px;
}
.wp-list-table .wpe_campaign-running-tr .campaign-running .notice p{
    margin: 0;
    padding: 0;
}
.wp-list-table .type-wpematico.wpe_campaign_active{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.wp-list-table .wpe_campaign-running-tr{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.wp-list-table .type-wpematico.wpe_campaign_active th, .wp-list-table .wpe_campaign-running-tr td{
    border-left: 4px solid #72aee6;
}
.wp-list-table .type-wpematico.wpe_campaign_active th, .wp-list-table .type-wpematico.wpe_campaign_active td, .wp-list-table .wpe_campaign-running-tr td{
    background-color: #f0f6fc;
}
/*System status*/
.wpe_table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.wpe_table-responsive .wpe_table{
    width: 100%;
    max-width: 100%;
}
.wpe_table-responsive .wpe_table td:nth-child(1) {
    width: 200px;
}
.wpe_table td.help{
    width: 30px;
}
@media (max-width: 991px){
    .wpematico-system-status-debug .get-system-status .debug-report{
        margin-bottom: .8em;
    }
    .wpematico-system-status-debug .get-system-status .system-report-msg{
        display: block;
    }
    .wpematico-system-status-debug #debug-report label{
        line-height: 30px;
    }
    .widefat.debug-section tr td:first-child {
        width: 33.333333%;
    }
}
@media (max-width: 782px){
    .wrap .wrap {
        margin-right: 0;
    }
}
#wpematico-galerias-container {
    display: flex;
    flex-wrap: wrap;
}
.image-folder {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las columnas de las galerías */
}

/* Estilo para cada columna de la galería */
.gallery-column {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #a5eded;
    background: linear-gradient(to bottom, #bc9595, #f2ba70);

    border-radius: 5px;
}
.gallery-column input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.remove-image {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.remove-gallery {
    margin-top: 10px;
    background: red;
    color: white;
    border: none;  /* Elimina el borde */
    border-radius: 25px;  /* Redondea los bordes del botón */
    cursor: pointer;
    padding: 5px 10px;
}

  .image-folder img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    height: 120px;
  }
  .image-folder img:hover{
    cursor: crosshair;
    width: 200px;
    height: 120px;
    opacity: 1;
    filter: contrast(150%);
  }
 
